@import "~bootstrap/scss/bootstrap";


@import "helpers";
@import "components/input";
@import "components/special";
@import "components/login";
@import "components/navigation.scss";
@import "components/common.scss";
@import "components/footer";

@font-face {
    font-family: 'Calibri';
    src: url('/fonts/Calibri.ttf') format('truetype');
}

@font-face {
    font-family: 'Calibri-Italic';
    src: url('/fonts/calibri-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Calibri-Bold';
    src: url('/fonts/calibri-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Calibri-Italic-Bold';
    src: url('/fonts/calibri-italic-bold.ttf') format('truetype');
}



a {
    color: inherit;
    text-decoration: none;
}

html, body {
    height: 100%;
    font-family: 'Calibri';
    font-size: 16px;
}

* {
    outline: none !important;
}

*:hover {
    outline: none !important;
}

*:focus {
    outline: none !important;
}

.form-control:focus {
    border-color:none !important;
    box-shadow: none !important;
  }